$COLOR_MAIN: #2B2017
$COLOR_MAIN_LIGHT: #784F2B
$COLOR_ACCENT: #0E626E
$COLOR_ACCENT_LIGHT: #BFE88C
$COLOR_SECONDARY: #332136
$COLOR_RED: #F00
$COLOR_YELLOW: #FF0

=round($radius:.4em)
  :-moz-border-radius $radius
  :-webkit-border-radius $radius
  :border-radius $radius

*
  :box-sizing border-box
  :-moz-box-sizing border-box

BODY
  :font-size 80%
  :font-family Helvetica, Arial
  :color #333
  :background $COLOR_MAIN

H2
  :font-size 1.2em
H3
  :font-size 1.1em
  :margin 0

PRE, CODE
  :font-family 'Courier New', monospace
  :font-size 1em

A
  :color $COLOR_ACCENT
  &:HOVER
    :color $COLOR_SECONDARY

IMG
  :border none

UL, OL
  :padding-left 1em
  :margin-left 1em

.container
  :width 600px
  :margin 0 auto
  :padding 1em

TH
  :text-align left

NAV
  :background $COLOR_ACCENT_LIGHT
  HEADER &
    :float right
    :display inline-block
  UL
    :padding .2em 1em
    :margin 0
    LI
      :list-style none
      :display inline-block
      :margin 0 .4em
  A
    :font-size .9em
    :font-weight bold
    :text-decoration none

HEADER
  :background #FFF
  :display block
  :padding 1em
  +round(10px)

SECTION
  :display block
  :padding 1em
  :margin 1em 0
  :background #FFF
  +round(10px)

FOOTER
  :display block
  :background #FFF
  +round(10px)
  :text-align center
  A
    :font-size .8em

A.button, BUTTON, INPUT[type=button], INPUT[type=reset], INPUT[type=submit]
  :padding .1em .8em
  :background $COLOR_ACCENT
  :border none
  +round
  :color #FFF
  :text-decoration none
  &:HOVER
    :background $COLOR_ACCENT_LIGHT
    :color $COLOR_ACCENT

.clearfix
  &:AFTER
    :content "\0020"
    :display block
    :height 0
    :clear both
    :overflow hidden
    :visibility hidden
  :display inline-block
  
.clearfix
  :display block

.form
  :margin 0
  DT
    :margin .5em 0 0
    :font-weight bold
  DD
    :margin .5em 0 .5em 0
  .actions
    :margin 1em 0
  .field_with_errors
    :color $COLOR_RED
    INPUT
      :border-color $COLOR_RED

.form_errors
  :padding 1em
  :border 1px solid !COLOR_RED
  +round
  :background lighten(!COLOR_RED, 40%)
  H2
    :margin 0

.round
  +round

.centered
  :text-align center
  
.button_call_to_action
  :display inline-block
  :margin 0 auto
  :padding .2em 1em
  :background $COLOR_ACCENT
  :font-size 1.3em
  :font-weight bold
  :color #FFF
  :text-decoration none
  &:HOVER
    :background $COLOR_ACCENT_LIGHT
    :color $COLOR_ACCENT

.flash
  :padding 0
  UL
    :list-style none
    :padding 0
    :margin 0
  .message
    :margin .4em 0
    :padding .2em 1em
    :border 1px solid $COLOR_ACCENT_LIGHT
    +round
    :background lighten($COLOR_ACCENT_LIGHT, 20%)
  .notice
    :border 1px solid $COLOR_YELLOW
    :background lighten($COLOR_YELLOW, 40%)
  .error
    :border 1px solid $COLOR_RED
    :background lighten($COLOR_RED, 40%)

.pagination
  :border
    :width 1px 0
    :style solid
    :color lighten($COLOR_MAIN, 60%)
  :margin 1em 0
  :padding .4em 0
  A
    :text-decoration none
  EM
    :font-style normal
    :font-weight bold
  
.profile, .user_info, .micropost_form
  :border 1px solid $COLOR_SECONDARY
  :background lighten($COLOR_SECONDARY, 60%)

.user_info
  :float right
  :width 200px
  
.micropost_form, .microposts
  :float left
  :width 338px
  :margin-right 10px

.microposts, .feed
  :border 1px solid $COLOR_MAIN_LIGHT
  :background lighten($COLOR_MAIN_LIGHT, 60%)
  .pagination
    :border none
    :margin 1em 0 0
  UL
    :list-style none
    :padding 0
    :margin 0
    LI
      :margin-top -1px
      :padding .4em 0
      :border
        :width 1px 0
        :style solid
        :color lighten($COLOR_MAIN_LIGHT, 30%)

.feed
  .image
    :float left
  .text
    :float left
  .actions
    :float right
  .timestamp
    :font-size .85em
    :color #666

#micropost_extended_content
  :width 100%
  :height 4em

.user_info
  .gravitars
    :margin 1em 0 0

.gravatar
  :margin-right .5em
.user_info_gravatar
  :margin .2em

.profile_gravatar
  :float right
  :position relative
  :top -5em

.users
  :margin 0
  :padding 0
  LI
    :list-style none
    :margin .4em 0
