* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

BODY {
  font-size: 80%;
  font-family: Helvetica, Arial;
  color: #333333;
  background: #2b2017; }

PRE, CODE {
  font-family: "Courier New", monospace;
  font-size: 1em; }

A {
  color: #0e626e; }
  A:HOVER {
    color: #332136; }

IMG {
  border: none; }

.container {
  width: 510px;
  margin: 0 auto;
  padding: 1em; }

TH {
  text-align: left; }

NAV {
  background: #bfe88c; }
  HEADER NAV {
    float: right;
    display: inline-block; }
  NAV UL {
    padding: 0.2em 1em;
    margin: 0; }
    NAV UL LI {
      list-style: none;
      display: inline-block;
      margin: 0 0.4em; }
  NAV A {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none; }

HEADER {
  background: white;
  display: block;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

SECTION {
  display: block;
  padding: 1em;
  margin: 1em 0;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

FOOTER {
  display: block;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center; }
  FOOTER A {
    font-size: 0.8em; }

.round {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em; }

.centered {
  text-align: center; }

.button_call_to_action {
  display: inline-block;
  margin: 0 auto;
  padding: 0.2em 1em;
  background: #0e626e;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-decoration: none; }
  .button_call_to_action:HOVER {
    background: #bfe88c;
    color: #0e626e; }

.profile {
  border: 1px solid #bfe88c;
  background: #eef9e1; }

.gravatar {
  float: right;
  position: relative;
  top: -5em; }
