* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

BODY {
  font-size: 80%;
  font-family: Helvetica, Arial;
  color: #333333;
  background: #2b2017; }

H2 {
  font-size: 1.2em; }

H3 {
  font-size: 1.1em;
  margin: 0; }

PRE, CODE {
  font-family: "Courier New", monospace;
  font-size: 1em; }

A {
  color: #0e626e; }
  A:HOVER {
    color: #332136; }

IMG {
  border: none; }

UL, OL {
  padding-left: 1em;
  margin-left: 1em; }

.container {
  width: 600px;
  margin: 0 auto;
  padding: 1em; }

TH {
  text-align: left; }

NAV {
  background: #bfe88c; }
  HEADER NAV {
    float: right;
    display: inline-block; }
  NAV UL {
    padding: 0.2em 1em;
    margin: 0; }
    NAV UL LI {
      list-style: none;
      display: inline-block;
      margin: 0 0.4em; }
  NAV A {
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none; }

HEADER {
  background: white;
  display: block;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

SECTION {
  display: block;
  padding: 1em;
  margin: 1em 0;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

FOOTER {
  display: block;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center; }
  FOOTER A {
    font-size: 0.8em; }

A.button, BUTTON, INPUT[type=button], INPUT[type=reset], INPUT[type=submit] {
  padding: 0.1em 0.8em;
  background: #0e626e;
  border: none;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  color: white;
  text-decoration: none; }
  A.button:HOVER, BUTTON:HOVER, INPUT[type=button]:HOVER, INPUT[type=reset]:HOVER, INPUT[type=submit]:HOVER {
    background: #bfe88c;
    color: #0e626e; }

.clearfix {
  display: inline-block; }
  .clearfix:AFTER {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

.clearfix {
  display: block; }

.form {
  margin: 0; }
  .form DT {
    margin: 0.5em 0 0;
    font-weight: bold; }
  .form DD {
    margin: 0.5em 0 0.5em 0; }
  .form .actions {
    margin: 1em 0; }
  .form .field_with_errors {
    color: red; }
    .form .field_with_errors INPUT {
      border-color: red; }

.form_errors {
  padding: 1em;
  border: 1px solid red;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  background: #ffcccc; }
  .form_errors H2 {
    margin: 0; }

.round {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em; }

.centered {
  text-align: center; }

.button_call_to_action {
  display: inline-block;
  margin: 0 auto;
  padding: 0.2em 1em;
  background: #0e626e;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-decoration: none; }
  .button_call_to_action:HOVER {
    background: #bfe88c;
    color: #0e626e; }

.flash {
  padding: 0; }
  .flash UL {
    list-style: none;
    padding: 0;
    margin: 0; }
  .flash .message {
    margin: 0.4em 0;
    padding: 0.2em 1em;
    border: 1px solid #bfe88c;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    background: #eef9e1; }
  .flash .notice {
    border: 1px solid yellow;
    background: #ffffcc; }
  .flash .error {
    border: 1px solid red;
    background: #ffcccc; }

.pagination {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cfb8a5;
  margin: 1em 0;
  padding: 0.4em 0; }
  .pagination A {
    text-decoration: none; }
  .pagination EM {
    font-style: normal;
    font-weight: bold; }

.profile, .user_info, .micropost_form {
  border: 1px solid #332136;
  background: #cfb6d3; }

.user_info {
  float: right;
  width: 200px; }

.micropost_form, .microposts {
  float: left;
  width: 338px;
  margin-right: 10px; }

.microposts, .feed {
  border: 1px solid #784f2b;
  background: #f4eae1; }
  .microposts .pagination, .feed .pagination {
    border: none;
    margin: 1em 0 0; }
  .microposts UL, .feed UL {
    list-style: none;
    padding: 0;
    margin: 0; }
    .microposts UL LI, .feed UL LI {
      margin-top: -1px;
      padding: 0.4em 0;
      border-width: 1px 0;
      border-style: solid;
      border-color: #cc9b70; }

.feed .image {
  float: left; }
.feed .text {
  float: left; }
.feed .actions {
  float: right; }
.feed .timestamp {
  font-size: 0.85em;
  color: #666666; }

#micropost_content {
  width: 100%;
  height: 4em; }

.gravatar {
  margin-right: 0.5em; }

.profile_gravatar {
  float: right;
  position: relative;
  top: -5em; }

.users {
  margin: 0;
  padding: 0; }
  .users LI {
    list-style: none;
    margin: 0.4em 0; }
