- @title = @user.name

.clearfix
  %section.user_info
    = render 'shared/user_info', :user=>@user
  
  %section.microposts
    - unless @user.microposts.empty?
      %ul
        = render @microposts
      = will_paginate @microposts
