- unless @user.errors.empty?
  .form_errors
    %h2 There are #{pluralize(@user.errors.count, "problem")} with your submission
    %p Please fix the following issues:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message
