- @title = "Home"

%p This is the home page for the <a href="http://railstutorial.org/" target="rails_tutorial">Ruby on Rails Tutorial</a> sample app.
%p.centered
  = link_to "Sign up now!", '#', :class=>"button_call_to_action round"